name: 백엔드 서버 CI/CD
on:
  push:
    branches:
      - develop
    paths:
      - 'backend/**'

env:
  S3_BUCKET_NAME: seektam-backend-deploy
  AWS_REGION: ap-northeast-2
  CODEDEPLOY_NAME: seektam-backend-deploy
  CODEDEPLOY_GROUP: seektam-backend-deploy-group

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: "./backend"

    steps:
      - name: Seektam Repository로 Checkout
        uses: actions/checkout@v3

      - name: JDK 11 설치
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'

      - name: resources 폴더 생성
        run: mkdir ./src/main/resources

      - name: application.yml 파일 생성
        run: touch ./src/main/resources/application.yml

      - name: application.yml 정보 주입
        run: echo "${{ secrets.APPLICATION }}" > ./src/main/resources/application.yml

      - name: gradlew 권한 부여
        run: chmod +x ./gradlew

      - name: backend 프로젝트 빌드
        run: ./gradlew build

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to Docker hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_ID }}
          password: ${{ secrets.DOCKER_PW }}

      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./backend/Dockerfile
          push: true
          tags: seektam/backend:latest
          platforms: |
            linux/amd64
            linux/arm64

      - name: Deploy
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.BACKEND_EC2_HOST }}
          username: ${{ secrets.BACKEND_EC2_USERNAME }}
          key: ${{ secrets.BACKEND_EC2_PRIVATE_KEY }}
          script: |
            docker stop backend
            docker rm backend
            docker image rm $(docker images -q)
            docker pull seektam/backend
            docker run -d --name backend -p 8080:8080 seektam/backend
